
.slides__title{
	text-align: center;
	margin: 30px 0 10px;
	font-weight: 900;
	font-size: 4em;
	font-family: "Playfair Display", Georgia, serif;
	line-height: 1;
}

#slides2{
	position: relative;
	width: 640px;
	height: 340px;
	margin: 70px auto 0;
	padding: 0;
	background-color: #fff;
	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;
}

.gallery__container{
	position: absolute;
	width: 620px;
	height: 320px;
	left: 10px;
	top: 10px;
	overflow: hidden;
	list-style: none outside none;
}
.gellery__item{
	display: none;
}
.gallery__item:first-child{
	display: inline-block;
	z-index: 100;
}
.gallery__item .item--current{
	z-index: 100;
}
.gallery__item canvas{
	display: none;
	position: absolute;
	z-index: 100;
}


.gallery__nav{
	height:86px;
	width:60px;
	position:absolute;
	background:url('../images/arrows.png') no-repeat;
	top:50%;
	margin-top:-43px;
	cursor:pointer;
	z-index:5000;
}

.nav--prev{
	background-position:left top;
	left:0;
}
.nav--prev:hover{
	background-position:left bottom;
}

.nav--next{
	background-position: right top;
	right: 0;
}
.nav--next:hover{
	background-position: right bottom;
}

.gallery__control{
	width: 100%;
	position: absolute;
	bottom: 50px;
	text-align: center;
}
.gallery__control li{
	margin: 0 6px;
	display: inline-block;
	zoom: 1;

}
.gallery__control a{
	width: 11px;
    height: 11px;
    display: block;
    background: #acacac; 
    opacity: 0.5;
    cursor: pointer;
    text-indent: -9999px;

	box-shadow: 0, 0, 3px, rgba(0,0,0,0.3), inset;
    border-radius: 20px ;
    cursor: default;
}
.gallery__control a:hover{
	 background: #fff; 
     opacity: 0.7;
     cursor: pointer;
}
.gallery__control .control--active{
	background: #ececec; 
    opacity: 0.8;
}
